/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: #ff0070;
    --accent-color--rgb: 255, 0, 112 ;
    --backround-color: #000028;
    --font-color: #F1B2CE;
    --nav-menu-color: var(--accent-color);
    --nav-menu-color--rgb: var(--accent-color--rgb)
}

.page.theme_dark .header {
    background: url("../../images/cover-image-dark.png") center no-repeat;
}


