/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
}


.page.theme_dark {
    --accent-color: var(--color-purple-2 ,#ff0070);
    --accent-color-o-40: var(--color-purple-2-o-40, #ff007040);

    --font-color: var(--color-pink-2, #F1B2CE);
    --title-color: var(--color-purple-1, #DB00FF);
    --title-color-second: var(--color-purple-2 ,#ff0070);
    --header-text: var(--color-black-1, #000028);


    --page-background-color: var(--color-black-1, #000028);
    --page-background-image: url("../../images/cover-image-dark.png");

    --nav-menu-color: var(--color-purple-2 ,#ff0070);
    --nav-menu-color-o-40: var(--color-purple-2-o-40, #ff007040);
    --header-text-color: var(--color-black-1, #000028);

    --content-question--color: var(--accent-color, #ff0070);
}


